In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame([[1,2], [3, 4],[5,6]])
df

   0  1
0  1  2
1  3  4
2  5  6

In [11]:
df.sum(axis = 0)

0     9
1    12
dtype: int64

In [13]:
df.sum(axis = 1)

0     3
1     7
2    11
dtype: int64