Primeros pasos con los pandas

In [ ]:
import pandas as pd

In [ ]:
# para cambiar el directorio de trabajo
# import os
# os.chdir("C:\\Users\\Vespertino\\Desktop\\combigdata\\pandasnumpy")

In [ ]:
# datos de
# https://www.kaggle.com/datasets/vinicius150987/titanic3

In [ ]:
# para google colab
#from google.colab import drive
#drive.mount('/content/drive')
# para google colab
#path = "/content/drive/My Drive/.../datos/"

In [ ]:

path = "../datos/"
datos = pd.read_csv(path + "titanic-passengers.csv", sep = ";")

In [ ]:
datos.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [ ]:
datos.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
datos.index

RangeIndex(start=0, stop=891, step=1)

In [ ]:
len(datos)

891

In [ ]:
datos.shape

(891, 12)

In [ ]:
datos.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
datos["Age"]
# es lo mismo que
datos.Age

0      28.0
1      25.0
2      20.0
3      29.0
4      31.0
       ...
886     NaN
887    50.0
888    24.0
889    32.0
890    47.0
Name: Age, Length: 891, dtype: float64

In [ ]:
datos.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S

Seleccionar filas por posicion

In [ ]:
datos[0:1]# no vale datos[0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0,NaN,S

Mejor esta forma para evitar ambigüedades

In [ ]:
datos.iloc[0]

PassengerId                           343
Survived                               No
Pclass                                  2
Name           Collander, Mr. Erik Gustaf
Sex                                  male
Age                                  28.0
SibSp                                   0
Parch                                   0
Ticket                             248740
Fare                                 13.0
Cabin                                 NaN
Embarked                                S
Name: 0, dtype: object

Solo algunas columnas

In [ ]:
datos.iloc[0][['Age', 'Embarked']]

Age         28.0
Embarked       S
Name: 0, dtype: object

Recorrer un DataFrame fila a fila (solo lectura)

In [ ]:
for index, row in datos.iterrows():
    print(index, row['PassengerId'], row['Survived'])

0 343 No
1 76 No
2 641 No
3 568 No
4 672 No
5 105 No
6 576 No
7 382 Yes
8 228 No
9 433 Yes
10 135 No
11 294 No
12 755 Yes
13 595 No
14 127 No
15 434 No
16 378 No
17 533 No
18 666 No
19 225 Yes
20 83 Yes
21 130 No
22 544 Yes
23 815 No
24 273 Yes
25 464 No
26 588 Yes
27 661 Yes
28 90 No
29 115 No
30 373 No
31 729 No
32 528 No
33 537 No
34 727 Yes
35 31 No
36 477 No
37 431 Yes
38 664 No
39 44 Yes
40 347 Yes
41 891 No
42 100 No
43 72 No
44 198 No
45 307 Yes
46 704 No
47 51 No
48 399 No
49 563 No
50 186 No
51 483 No
52 445 Yes
53 839 Yes
54 75 Yes
55 697 No
56 794 No
57 117 No
58 686 No
59 453 No
60 152 Yes
61 639 No
62 538 Yes
63 718 Yes
64 279 No
65 397 No
66 877 No
67 887 No
68 220 No
69 241 No
70 231 Yes
71 581 Yes
72 52 No
73 298 No
74 486 No
75 840 Yes
76 85 Yes
77 39 No
78 288 No
79 59 Yes
80 119 No
81 613 Yes
82 623 Yes
83 761 No
84 847 No
85 768 No
86 457 No
87 789 Yes
88 156 No
89 124 Yes
90 876 Yes
91 675 No
92 735 No
93 874 No
94 389 No
95 862 No
96 95 No
97 471 No
98 597 Yes
99 835 No
100 499 No
101 219 Yes
102 340 No
103 311 Yes
104 441 Yes
105 217 Yes
106 472 No
107 554 Yes
108 571 Yes
109 86 Yes
110 302 Yes
111 12 Yes
112 313 No
113 564 No
114 475 No
115 122 No
116 679 No
117 643 No
118 281 No
119 750 No
120 791 No
121 405 No
122 17 No
123 740 No
124 819 No
125 218 No
126 875 Yes
127 859 Yes
128 610 Yes
129 183 No
130 173 Yes
131 163 No
132 410 No
133 831 Yes
134 128 Yes
135 512 No
136 606 No
137 885 No
138 807 No
139 701 Yes
140 652 Yes
141 657 No
142 381 Yes
143 106 No
144 164 No
145 172 No
146 320 Yes
147 788 No
148 724 No
149 783 No
150 24 Yes
151 154 No
152 204 No
153 364 No
154 644 Yes
155 560 Yes
156 693 Yes
157 738 Yes
158 13 No
159 35 No
160 166 Yes
161 578 Yes
162 726 No
163 798 Yes
164 233 No
165 53 Yes
166 189 No
167 358 No
168 516 No
169 872 Yes
170 592 Yes
171 665 Yes
172 799 No
173 205 Yes
174 201 No
175 384 Yes
176 300 Yes
177 9 Yes
178 695 No
179 244 No
180 36 No
181 723 No
182 821 Yes
183 139 No
184 485 Yes
185 627 No
186 682 Yes
187 190 No
188 215 No
189 323 Yes
190 355 No
191 820 No
192 4 Yes
193 570 Yes
194 647 No
195 440 No
196 838 No
197 267 No
198 611 No
199 344 No
200 33 Yes
201 125 No
202 582 Yes
203 211 No
204 674 Yes
205 827 No
206 642 Yes
207 731 Yes
208 742 No
209 208 Yes
210 443 No
211 430 Yes
212 710 Yes
213 109 No
214 526 No
215 32 Yes
216 96 No
217 197 No
218 412 No
219 825 No
220 805 Yes
221 245 No
222 466 No
223 553 No
224 141 No
225 181 No
226 566 No
227 210 Yes
228 349 Yes
229 706 No
230 795 No
231 82 Yes
232 352 No
233 501 No
234 763 Yes
235 617 No
236 479 No
237 883 No
238 688 No
239 493 No
240 648 Yes
241 339 Yes
242 314 No
243 580 Yes
244 683 No
245 56 Yes
246 235 No
247 402 No
248 290 Yes
249 23 Yes
250 774 No
251 534 Yes
252 873 No
253 462 No
254 269 Yes
255 669 No
256 589 No
257 844 No
258 224 No
259 63 No
260 691 Yes
261 209 Yes
262 289 Yes
263 542 No
264 586 Yes
265 66 Yes
266 295 No
267 292 Yes
268 764 Yes
269 55 No
270 129 Yes
271 353 No
272 362 No
273 678 Yes
274 203 No
275 348 Yes
276 98 Yes
277 645 Yes
278 743 Yes
279 766 Yes
280 356 No
281 449 Yes
282 546 No
283 324 Yes
284 498 No
285 108 Yes
286 830 Yes
287 663 No
288 557 Yes
289 62 Yes
290 782 Yes
291 5 No
292 192 No
293 374 No
294 656 No
295 411 No
296 518 No
297 591 No
298 713 Yes
299 853 No
300 64 No
301 260 Yes
302 857 Yes
303 550 Yes
304 134 Yes
305 291 Yes
306 773 No
307 391 Yes
308 637 No
309 734 No
310 506 No
311 866 Yes
312 318 No
313 767 No
314 802 Yes
315 640 No
316 194 Yes
317 409 No
318 3 Yes
319 415 Yes
320 438 Yes
321 850 Yes
322 882 No
323 884 No
324 792 No
325 287 Yes
326 71 No
327 437 No
328 202 No
329 762 No
330 321 No
331 487 Yes
332 700 No
333 869 No
334 114 No
335 120 No
336 596 No
337 886 No
338 27 No
339 846 No
340 403 No
341 741 Yes
342 386 No
343 293 No
344 333 No
345 112 No
346 785 No
347 40 Yes
348 505 Yes
349 848 No
350 42 No
351 47 No
352 88 No
353 616 Yes
354 689 No
355 341 Yes
356 458 Yes
357 286 No
358 326 Yes
359 630 No
360 651 No
361 778 Yes
362 406 No
363 527 Yes
364 118 No
365 702 Yes
366 510 Yes
367 816 No
368 248 Yes
369 703 No
370 365 No
371 310 Yes
372 369 Yes
373 474 Yes
374 667 No
375 142 Yes
376 143 Yes
377 137 Yes
378 332 No
379 371 Yes
380 749 No
381 335 Yes
382 628 Yes
383 77 No
384 325 No
385 598 No
386 776 No
387 200 No
388 654 Yes
389 604 No
390 133 No
391 681 No
392 268 Yes
393 841 No
394 350 No
395 136 No
396 490 Yes
397 87 No
398 676 No
399 251 No
400 103 No
401 226 No
402 242 Yes
403 377 Yes
404 881 Yes
405 2 Yes
406 446 Yes
407 455 No
408 529 No
409 334 No
410 322 No
411 517 Yes
412 796 No
413 614 No
414 806 No
415 456 Yes
416 860 No
417 65 No
418 199 Yes
419 161 No
420 15 No
421 575 No
422 607 No
423 515 No
424 758 No
425 629 No
426 57 Yes
427 395 Yes
428 153 No
429 817 No
430 685 No
431 730 No
432 41 No
433 159 No
434 255 No
435 107 Yes
436 372 No
437 229 No
438 793 No
439 732 No
440 824 Yes
441 180 No
442 634 No
443 698 Yes
444 80 Yes
445 414 No
446 539 No
447 593 No
448 454 Yes
449 587 No
450 523 No
451 715 No
452 74 No
453 504 No
454 222 No
455 746 No
456 417 Yes
457 837 No
458 191 Yes
459 328 Yes
460 392 Yes
461 752 Yes
462 253 No
463 880 Yes
464 619 Yes
465 858 Yes
466 179 No
467 196 Yes
468 558 No
469 737 No
470 602 No
471 46 No
472 520 No
473 812 No
474 786 No
475 43 No
476 60 No
477 463 No
478 375 No
479 271 No
480 787 Yes
481 275 Yes
482 360 Yes
483 699 No
484 775 Yes
485 809 No
486 278 No
487 150 No
488 10 Yes
489 61 No
490 535 No
491 102 No
492 428 Yes
493 162 Yes
494 216 Yes
495 562 No
496 864 No
497 270 Yes
498 276 Yes
499 770 No
500 670 Yes
501 439 No
502 574 Yes
503 110 Yes
504 299 Yes
505 709 Yes
506 54 Yes
507 123 No
508 404 No
509 94 No
510 147 Yes
511 280 Yes
512 590 No
513 69 Yes
514 522 No
515 262 Yes
516 379 No
517 240 No
518 484 Yes
519 176 No
520 383 No
521 398 No
522 481 No
523 867 Yes
524 19 No
525 772 No
526 823 No
527 625 No
528 171 No
529 385 No
530 480 Yes
531 603 No
532 58 No
533 169 No
534 254 No
535 712 No
536 30 No
537 500 No
538 227 Yes
539 855 No
540 547 Yes
541 854 Yes
542 719 No
543 609 Yes
544 622 Yes
545 583 No
546 536 Yes
547 239 No
548 11 Yes
549 277 No
550 579 No
551 660 No
552 8 No
553 711 Yes
554 852 No
555 22 Yes
556 237 No
557 174 No
558 601 Yes
559 20 Yes
560 423 No
561 468 No
562 714 No
563 728 Yes
564 357 Yes
565 401 Yes
566 393 No
567 684 No
568 745 Yes
569 716 No
570 223 No
571 497 Yes
572 368 Yes
573 243 No
574 649 No
575 246 No
576 736 No
577 390 Yes
578 687 No
579 91 No
580 708 Yes
581 801 No
582 145 No
583 168 No
584 309 No
585 842 No
586 188 Yes
587 447 Yes
588 549 No
589 495 No
590 790 No
591 408 Yes
592 461 Yes
593 473 Yes
594 636 Yes
595 427 Yes
596 751 Yes
597 531 Yes
598 207 No
599 635 No
600 14 No
601 282 No
602 800 No
603 733 No
604 351 No
605 818 No
606 861 No
607 748 Yes
608 543 No
609 376 Yes
610 452 No
611 870 Yes
612 301 Yes
613 361 No
614 605 Yes
615 68 No
616 632 No
617 140 No
618 653 No
619 797 Yes
620 149 No
621 26 Yes
622 721 Yes
623 833 No
624 73 No
625 99 Yes
626 258 Yes
627 519 Yes
628 569 No
629 650 Yes
630 146 No
631 359 Yes
632 540 Yes
633 67 Yes
634 671 Yes
635 707 Yes
636 38 No
637 266 No
638 413 Yes
639 747 No
640 511 Yes
641 21 No
642 303 No
643 555 Yes
644 70 No
645 213 No
646 470 Yes
647 561 No
648 425 No
649 577 Yes
650 655 No
651 465 No
652 284 Yes
653 722 No
654 813 No
655 754 No
656 879 No
657 467 No
658 638 No
659 451 No
660 396 No
661 331 Yes
662 705 No
663 366 No
664 624 No
665 394 Yes
666 551 Yes
667 419 No
668 600 Yes
669 508 Yes
670 725 Yes
671 502 No
672 155 No
673 626 No
674 777 No
675 89 Yes
676 230 No
677 238 Yes
678 265 No
679 49 No
680 488 No
681 175 No
682 257 Yes
683 832 Yes
684 421 No
685 79 Yes
686 422 No
687 158 No
688 97 No
689 283 No
690 769 No
691 784 No
692 144 No
693 185 Yes
694 559 Yes
695 37 Yes
696 177 No
697 448 Yes
698 138 No
699 256 Yes
700 489 No
701 646 Yes
702 274 No
703 370 Yes
704 319 Yes
705 345 No
706 388 Yes
707 753 No
708 132 No
709 178 No
710 337 No
711 247 No
712 513 Yes
713 113 No
714 16 Yes
715 193 Yes
716 297 No
717 834 No
718 888 Yes
719 822 Yes
720 92 No
721 236 No
722 757 No
723 673 No
724 585 No
725 1 No
726 264 No
727 184 Yes
728 514 Yes
729 304 Yes
730 552 No
731 206 No
732 868 No
733 530 No
734 621 No
735 285 No
736 781 Yes
737 803 Yes
738 851 No
739 620 No
740 126 Yes
741 573 Yes
742 843 Yes
743 25 No
744 252 No
745 871 No
746 424 No
747 545 No
748 317 Yes
749 692 Yes
750 48 Yes
751 444 Yes
752 327 No
753 836 Yes
754 261 No
755 829 Yes
756 232 No
757 426 No
758 432 Yes
759 263 No
760 407 No
761 234 Yes
762 594 No
763 436 Yes
764 696 No
765 863 Yes
766 618 No
767 45 Yes
768 608 Yes
769 400 Yes
770 878 No
771 662 No
772 212 Yes
773 296 No
774 29 Yes
775 316 Yes
776 565 No
777 416 No
778 756 Yes
779 744 No
780 826 No
781 442 No
782 811 No
783 541 Yes
784 556 No
785 612 No
786 329 Yes
787 780 Yes
788 717 Yes
789 50 No
790 305 No
791 525 No
792 131 No
793 889 No
794 363 No
795 849 No
796 459 Yes
797 346 Yes
798 694 No
799 760 Yes
800 18 Yes
801 338 Yes
802 615 No
803 81 No
804 532 No
805 121 No
806 572 Yes
807 690 Yes
808 804 Yes
809 249 Yes
810 668 No
811 496 No
812 771 No
813 814 No
814 330 Yes
815 759 No
816 78 No
817 101 No
818 336 No
819 367 Yes
820 429 No
821 148 No
822 856 Yes
823 420 No
824 469 No
825 808 No
826 354 No
827 810 Yes
828 631 Yes
829 312 Yes
830 387 No
831 507 Yes
832 492 No
833 6 No
834 380 No
835 584 No
836 272 Yes
837 765 No
838 658 No
839 865 No
840 739 No
841 160 No
842 845 No
843 315 No
844 659 No
845 93 No
846 491 No
847 521 Yes
848 677 No
849 259 Yes
850 524 Yes
851 720 No
852 182 No
853 460 No
854 308 Yes
855 680 Yes
856 165 No
857 170 No
858 28 No
859 482 No
860 7 No
861 34 No
862 157 Yes
863 221 Yes
864 167 Yes
865 195 Yes
866 450 Yes
867 567 No
868 828 Yes
869 890 Yes
870 494 No
871 84 No
872 503 No
873 104 No
874 116 No
875 151 No
876 214 No
877 476 No
878 599 No
879 306 Yes
880 548 Yes
881 250 No
882 418 Yes
883 478 No
884 509 No
885 187 Yes
886 779 No
887 435 No
888 342 Yes
889 633 Yes
890 111 No



Ahora creamos otro dataframe con los mismos datos usando el PassengerId como índice

In [ ]:
datosIndice = pd.read_csv(path + "titanic-passengers.csv", sep = ";", index_col = "PassengerId")
datosIndice.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [ ]:
datosIndice.loc[343]

Survived                            No
Pclass                               2
Name        Collander, Mr. Erik Gustaf
Sex                               male
Age                               28.0
SibSp                                0
Parch                                0
Ticket                          248740
Fare                              13.0
Cabin                              NaN
Embarked                             S
Name: 343, dtype: object

In [ ]:
datosIndice.loc[343:641]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S

In [ ]:
datosIndice.iloc[0]

Survived                            No
Pclass                               2
Name        Collander, Mr. Erik Gustaf
Sex                               male
Age                               28.0
SibSp                                0
Parch                                0
Ticket                          248740
Fare                              13.0
Cabin                              NaN
Embarked                             S
Name: 343, dtype: object

In [ ]:
datosIndice.loc[343]

Survived                            No
Pclass                               2
Name        Collander, Mr. Erik Gustaf
Sex                               male
Age                               28.0
SibSp                                0
Parch                                0
Ticket                          248740
Fare                              13.0
Cabin                              NaN
Embarked                             S
Name: 343, dtype: object

Tarifa media

In [ ]:
datos.Fare.mean()

np.float64(29.699117647058824)

In [ ]:
#datos.mean(numeric_only=True, axis = 1)

0       45.888889
1       14.216667
2       76.506956
3       74.247222
4       95.777778
          ...
886     92.879069
887     72.855556
888    129.222222
889     84.388889
890     35.111111
Length: 891, dtype: float64

Seleccionamos solo los supervivientes

In [ ]:
datos.Survived == "Yes"

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889     True
890    False
Name: Survived, Length: 891, dtype: bool

Número de supervivientes

In [ ]:
(datos.Survived == "Yes").sum()

np.int64(342)

In [ ]:
supervivientes = datos[datos.Survived == "Yes"]

In [ ]:
supervivientes.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
880,548,Yes,2,"Padro y Manent, Mr. Julian",male,NaN,0,0,SC/PARIS 2146,13.8625,NaN,C
882,418,Yes,2,"Silven, Miss. Lyyli Karoliina",female,18.0,0,2,250652,13.0000,NaN,S
885,187,Yes,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
888,342,Yes,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S
889,633,Yes,1,"Stahelin-Maeglin, Dr. Max",male,32.0,0,0,13214,30.5000,B50,C

In [ ]:
len(supervivientes)

342

Porcentaje de supervivientes

In [ ]:
100*len(supervivientes)/len(datos)

38.38383838383838

Crear una nueva columna

In [ ]:
datos['nueva1'] = 1
datos.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,nueva1
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S,1
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S,1
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S,1
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,1
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S,1

A partir de otra columna

In [ ]:
datos['nueva2'] = datos.Fare * 2
datos.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,nueva1,nueva2
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S,1,26.0000
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S,1,15.3000
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S,1,15.7084
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,1,42.1500
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S,1,104.0000

Crear una nueva columna como Survived pero con 1/0

In [ ]:
supervivientes = [1 if x == "Yes" else 0 for x in datos.Survived]

In [ ]:
datos["superv"] = supervivientes
datos.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,nueva1,nueva2,superv
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S,1,26.0000,0
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S,1,15.3000,0
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S,1,15.7084,0
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,1,42.1500,0
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S,1,104.0000,0
5,105,No,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S,1,15.8500,0
6,576,No,3,"Patchett, Mr. George",male,19.0,0,0,358585,14.5000,NaN,S,1,29.0000,0
7,382,Yes,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C,1,31.4834,1
8,228,No,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.2500,NaN,S,1,14.5000,0
9,433,Yes,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S,1,52.0000,1

Comprobar valores nulos

In [ ]:
datos.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,nueva1,nueva2,superv
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
datos.Age.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886     True
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [ ]:
datos.Age.isnull().sum()

np.int64(177)

Número de valores nulos en cada columna

In [ ]:
datos.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
nueva1           0
nueva2           0
superv           0
dtype: int64

Para seleccionar a los que no tienen edad nula

In [ ]:
edadnonula = datos[~datos.Age.isnull()]

In [ ]:
edadnonula.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,nueva1,nueva2,superv
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S,1,26.0000,0
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S,1,15.3000,0
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S,1,15.7084,0
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,1,42.1500,0
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S,1,104.0000,0

Para rellenar los valores nulos

In [ ]:
datos.Age.fillna(datos.Age.mean(), inplace = True)
# datos = datos.Age.fillna(datos.Age.mean())

In [ ]:
datos.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
nueva1           0
nueva2           0
superv           0
dtype: int64

Seleccionar filas

In [ ]:
datos.query("Sex == 'male' & Age > 17")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,nueva1,nueva2,superv
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.000000,0,0,248740,13.0000,NaN,S,1,26.0000,0
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.000000,0,0,348123,7.6500,F G73,S,1,15.3000,0
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.000000,0,0,350050,7.8542,NaN,S,1,15.7084,0
4,672,No,1,"Davidson, Mr. Thornton",male,31.000000,1,0,F.C. 12750,52.0000,B71,S,1,104.0000,0
5,105,No,3,"Gustafsson, Mr. Anders Vilhelm",male,37.000000,2,0,3101276,7.9250,NaN,S,1,15.8500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,509,No,3,"Olsen, Mr. Henry Margido",male,28.000000,0,0,C 4001,22.5250,NaN,S,1,45.0500,0
886,779,No,3,"Kilgannon, Mr. Thomas J",male,29.699118,0,0,36865,7.7375,NaN,Q,1,15.4750,0
887,435,No,1,"Silvey, Mr. William Baird",male,50.000000,1,0,13507,55.9000,E44,S,1,111.8000,0
889,633,Yes,1,"Stahelin-Maeglin, Dr. Max",male,32.000000,0,0,13214,30.5000,B50,C,1,61.0000,1
890,111,No,1,"Porter, Mr. Walter Chamberlain",male,47.000000,0,0,110465,52.0000,C110,S,1,104.0000,0

Para contarlos

In [ ]:
datos.query("Sex == 'male' & Age > 17").PassengerId.count()

np.int64(519)

In [ ]:
len(datos.query("Sex == 'male' & Age > 17"))

519

Otra forma de seleccionar

In [ ]:
# mujeres = datos[datos.Sex == 'female' & datos.Age > 10]
mujeres = datos[datos.Sex == 'female']
mujeres.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,nueva1,nueva2,superv
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,1,42.1500,0
7,382,Yes,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C,1,31.4834,1
9,433,Yes,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S,1,52.0000,1
11,294,No,3,"Haas, Miss. Aloisia",female,24.0,0,0,349236,8.8500,NaN,S,1,17.7000,0
12,755,Yes,2,"Herman, Mrs. Samuel (Jane Laver)",female,48.0,1,2,220845,65.0000,NaN,S,1,130.0000,1

Valores que aparecen en Pclass sin repetición

In [ ]:
datos.Pclass.unique()

array([2, 3, 1])

Funciones de cadenas. Obtener el apellido de cada pasajero.

In [ ]:
partidos = datos.Name.str.split(",", expand = True)
partidos.head()

           0                                    1
0  Collander                      Mr. Erik Gustaf
1       Moen                    Mr. Sigurd Hansen
2     Jensen                       Mr. Hans Peder
3    Palsson   Mrs. Nils (Alma Cornelia Berglund)
4   Davidson                         Mr. Thornton

Pone un número como nombre de columna

In [ ]:
partidos[0]

0             Collander
1                  Moen
2                Jensen
3               Palsson
4              Davidson
             ...
886           Kilgannon
887              Silvey
888             Fortune
889    Stahelin-Maeglin
890              Porter
Name: 0, Length: 891, dtype: object

Mejor cambiarlos por cadenas

In [ ]:
partidos.columns = ["apellido", "nombre"]

In [ ]:
partidos["apellido"]

0             Collander
1                  Moen
2                Jensen
3               Palsson
4              Davidson
             ...
886           Kilgannon
887              Silvey
888             Fortune
889    Stahelin-Maeglin
890              Porter
Name: apellido, Length: 891, dtype: object

Para obtener parte de una cadena en todas las columnas

In [ ]:
# los 3 primeros caracteres del nombre de cada fila
datos.Name.str[0:3]

0      Col
1      Moe
2      Jen
3      Pal
4      Dav
      ...
886    Kil
887    Sil
888    For
889    Sta
890    Por
Name: Name, Length: 891, dtype: object

Convertir tipo de dato de una columna