In [ ]:
import pandas as pd

In [ ]:
path="../datos/"
datos = pd.read_csv(path + "netflix_titles.csv", sep = ",")
datos.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
# solo pelis
pelis = datos[datos.type=="Movie"].copy()
pelis.duration = pelis.duration.fillna("0 min").copy()
pelis.duration = pelis.duration.str[:-4].astype(int)
agrupado = pelis.groupby("country",as_index=False)["duration"].aggregate(["count","max","min","mean"])
agrupado

,country,count,max,min,mean
0,", France, Algeria",1,103,103,103.000000
1,Argentina,38,116,49,85.789474
2,"Argentina, Brazil, France, Poland, Germany, De...",1,96,96,96.000000
3,"Argentina, Chile",2,112,78,95.000000
4,"Argentina, Chile, Peru",1,100,100,100.000000
...,...,...,...,...,...
646,Venezuela,1,119,119,119.000000
647,"Venezuela, Colombia",1,82,82,82.000000
648,Vietnam,7,117,92,106.285714
649,West Germany,1,150,150,150.000000
650,Zimbabwe,1,100,100,100.000000

In [ ]:
# alternativa a rename, hay que pasar nuevo nombre para todas las columnas
agrupado.columns = ["PAIS", "NUMERO", "MAXIMO", "MINIMO", "MEDIA"]
agrupado.head()

,PAIS,NUMERO,MAXIMO,MINIMO,MEDIA
0,", France, Algeria",1,103,103,103.000000
1,Argentina,38,116,49,85.789474
2,"Argentina, Brazil, France, Poland, Germany, De...",1,96,96,96.000000
3,"Argentina, Chile",2,112,78,95.000000
4,"Argentina, Chile, Peru",1,100,100,100.000000

In [ ]:
agrupado.to_csv("resumen.csv", index = False)